{% for types, messages in app.flashes %}
     {% for message in messages %}
         <div class="row">
             <div class="col-7 mx-auto ">
                 <div id="flashMessages" class="alert alert-{{ types }} alert-dismissible fade show border-0 me-4 rounded" role="alert" style="filter: opacity(0.8); box-shadow:0 0 10px 4px #ffffff inset;">
                     <button type="button" class="btn-close ms-5" data-bs-dismiss="alert" aria-label="Close"></button>
                     <b>{{ message }}</b>
                 </div>
             </div>
         </div>
    {% endfor %}
{% endfor %}

