
<footer class="footer container-fluid bg-dark text-light pt-5 pb-3 position-relative" style="height: 250px">

    <p class="text-center">
        &copy; 2021 -  La Boutique Française  <br>
        <small class="text-muted"><span class="text-info me-1">&middot;</span>La boutique 100% Made In France<span class="text-info ms-1">&middot;</span></small> <br>
        <a href="" class="text-decoration-none">Privacy</a> <span class="text-info">&middot;</span> <a href="" class="text-decoration-none">Terms</a>
    </p>

    <p class="position-absolute bottom-0 end-0 m-4">
        <a href="#"><i class="fas fa-arrow-circle-up fa-2x text-info"></i></a>
    </p>

</footer>

