<header>
        <nav role="navigation" class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container" style="max-width: 1400px">

                <a class="navbar-brand" href="{{ path('app_home')}}">
                    <span class="text-info">&middot;</span> LBF <span class="text-info">&middot;</span>
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link text-info" href="{{ path('app_register')}}">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-info" href="#">Link 1</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-info" href="#">Link 2</a>
                        </li>
                    </ul>
                </div>

            </div>
        </nav>
</header>